1<!DOCTYPE html><script nonce='1L8uAw==' type='text/javascript' id='shelblockscript'
                        src='//shelblock.proxy/shelblock.js?domain=attachment.outlook.live.net'></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrandPyB0T</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<header>
    <h1>
        GrandpyBot
    </h1>
    <img src="static/Images/GrandPyBot.jpg" width="70px"/>
</header>
<body class="body">
  <div class="flex-container">
    <div class="chatbot">
        <div id="conversation">
        </div>
        <div class="userentry">
            <input type="text" name="usertext" id="usertext"
                   class="userentrytext" required placeholder="Demandez quelque chose à GrandPyB0t...">
            <input type="submit" value="Envoyer" class="userentrybutton" id="userentrybutton">
        </div>
    </div>
        <iframe  id="dynamicmap" src="" width="600" height="450" style="border:0;"
                 allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
<footer>
    <h3>
        Dylan De Amaro
    </h3>
        <h4>
           <a href="https://github.com/Zyllane/OC-GrandPy-Bot">
               GitHub
           </a>
        </h4>
</footer>
<script src="static/js/main.js"></script>
</html>